{% extends "base.html" %}
{% block content %}

<h2>Dashboard</h2>

<p style="color:#22c55e;">Role: <strong>{{ session['role'] }}</strong></p>

<hr style="border-color:#22c55e; margin: 1rem 0;">


<div class="dash-top">
    <span>Role: <strong>{{ session['role'] }}</strong></span>
    <a class="logout-btn" href="{{ url_for('main.logout') }}">Logout</a>
</div>

<h3>Posts</h3>

{% if posts %}
<div class="post-list">
    {% for p in posts %}
        <div class="post-card">
            <div class="post-header">
                <span class="post-title">{{ p.title }}</span>
                <span class="post-author">by {{ p.author }}</span>
            </div>

            {% if mode != 'mod_limited' %}
                <p class="post-content">{{ p.content }}</p>
            {% endif %}

            <div class="post-footer">
                <span class="post-id">#{{ p.id }}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <p style="color:#94ff94;">No posts available.</p>
{% endif %}

<hr style="border-color:#22c55e; margin: 1rem 0;">

<h3>Search Posts</h3>
<form method="POST">
    <input type="search" name="search" placeholder="Search keyword…" style="width: 60%;">
    <input type="submit" value="Search">
</form>

{% if results %}
    <h3 style="margin-top:1.5rem;">Search Results</h3>

    <div class="post-list">
        {% for r in results %}
            <div class="post-card">
                <div class="post-header">
                    <span class="post-title">{{ r.title }}</span>
                    <span class="post-author">by {{ r.author }}</span>
                </div>

                <p class="post-content">{{ r.content }}</p>

                <div class="post-footer">
                    <span class="post-id">#{{ r.id }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

{% endif %}

{% endblock %}